.root{
    -fx-background-color: #afafaf;
}

.custom-label{
         -fx-font-size: 20px;
         -fx-font-weight: bold;
         -fx-border-color: transparent transparent #000000 transparent;
         -fx-border-width: 0 0 2px 0;
         -fx-padding: 0 0 3px 0;
  }
  .button{
  -fx-text-fill: black;
        -fx-font-family: "Arial";
        -fx-font-size: 10px;
        -fx-font-weight: bold;
        -fx-font-style: italic;
        -fx-background-color: #bfbfbf;
        -fx-background-radius: 5px;
        -fx-border-color: #595959;
        -fx-border-width: 2px;
        -fx-border-radius: 5px;
        -fx-pref-width: 100px;
        -fx-pref-height: 35px;
        -fx-padding: 8px 16px;
  }
.button:hover {
    -fx-background-color: #a6a6a6;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #8c8c8c;
    -fx-translate-y: 1px; /* small visual press */
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 1);
}