.root{
    -fx-background-color: #afafaf;
}
.label{
    -fx-font-size: 20px;
    -fx-font-weight: bold;

}
.text-field {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1px;
}
.button{
  -fx-text-fill: black;
      -fx-font-family: "Arial";
      -fx-font-size: 10px;
      -fx-font-weight: bold;
      -fx-font-style: italic;
      -fx-background-color: #bfbfbf;
      -fx-background-radius: 5px;
      -fx-border-color: #595959;
      -fx-border-width: 2px;
      -fx-border-radius: 5px;
      -fx-pref-width: 80px;
      -fx-pref-height: 40px;
      -fx-padding: 8px 16px;
}

.button:hover {
    -fx-background-color: #a6a6a6;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #8c8c8c;
    -fx-translate-y: 1px; /* small visual press */
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 4, 0.0, 0, 1);
}